
      body{
  font-family: 'Homemade Apple', cursive;
  font-size:20px;
background-color: darkslateblue;
  color:#000;
}

.thePic{
  position:absolute;
  margin:0;
  padding:0;
}

.pic{
  text-align:center;
  display:inline-block;
  list-style:none;
  position:relative;
  border:solid 12px #fff;
  background:#fff;
  box-shadow:0 0 15px 0px #555;
  transition:all 1s ease;
  -o-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  top:50px;
}


.pic:hover{
  top:0px;
  font-size:xx-large;
}

.pic:nth-child(1){
    transform:rotate(10deg);
}

.pic:nth-child(2){
    transform:rotate(0deg);
}

.pic:nth-child(3){
    transform:rotate(-10deg);
}

.pic:nth-child(4){
    transform:rotate(20deg);
}

.pic:nth-child(5){
    transform:rotate(-3deg);
}
.pic:nth-child(6){
    transform:rotate(-5deg);
}

.pic:nth-child(7){
    transform:rotate(-15deg);
}

.pic:nth-child(8){
    transform:rotate(20deg);
}
.pic:nth-child(9){
    transform:rotate(3deg);
}







p{
  margin:-15px 0 0 0;
  width: 200px;
}

.light{
  border-radius:50%;
  position:absolute;
  left:0;
  right:0;
  width:700px;
  height:700px;
  background:#fff;
  filter:blur(100px);
  opacity:0.3;
  pointer-events:none;
}




/* the body */
.main {
  padding: 0px 10px;
  color: rgb(7, 7, 7);
  font-family: 'Kalam', cursive;
  text-align: center;

}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;


}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}



